.Rechts {
    position: absolute;
    top: 10px;
    right: 50px;
}
.Midden {
    left: 50%;
    right: 100px;
}
.section{
    background-image: url('../images/login_request/pxfuel.jpg');
    background-repeat: repeat;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.mooizo {
    background-image: url('../images/login_request/wp2516222.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    padding: 0;
}

